<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <proxies>
    <proxy>
      <id>{{ jenkins_common_role_proxy_host }}</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>{{ jenkins_common_role_proxy_host }}</host>
      <port>{{ jenkins_common_role_proxy_port }}</port>
      <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>
  </proxies>
  <mirrors>
    <mirror>
      <id>{{ jenkins_common_role_artifactory_host }}</id>
      <name>Reform Artifactory</name>
      <url>https://{{ jenkins_common_role_artifactory_host }}/artifactory/libs-release</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
